.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50hv;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:bolder;
}
.clock-container{
  display: grid;
  place-items:center;
  max-width: 400px;
  max-height: 400px;
  padding: 10px;
  font-size: 40px;
  font-weight:bolder;
  margin: 20px;
  font-family: monospace;
  border: 2px solid black;
  border-radius: 10px;
}
button{
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  color: aliceblue;
}
.start{
  background-color: hsl(129, 88%, 44%);
}
.start:hover{
  background-color: hsl(129, 84%, 34%);
}
.stop{
  background-color: hsl(0, 96%, 56%);
}
.stop:hover{
  background-color: hsl(0, 94%, 44%);
}
.reset{
  background-color: hsl(200, 90%, 50%);
}
.reset:hover{
  background-color: hsl(215, 90%, 50%);
}
span{
  font-size: 55px;
}